.env
.idea/  
node_modules/
package-lock.json
AntiLink2.0.zip
.prettierrc
docker-compose.yml
railway.json
server.js
utils/getGuildChannels.js
.npm/
shardManager.js
events/onChannelCreate.js
events/onChannelDelete.js
utils/anticrashCaching.js